@import "src/assets/variables.scss";
.index {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.index-image-part {
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.index-button-part {
    margin: 100px 75px;
    .index-button {
        background-color: $tf-color-pink1;
        color: $tf-color-brown4;
    }
}