@import "src/assets/variables.scss";
.addcourse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $tf-color-brown3;
}

.add-form {
  margin: 4%;
  padding: 4%;
  background-color: $tf-color-brown3;
}
.display-row {
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-content: center;
  .tips {
    opacity: 80%;
    font-size: 42px;
    font-family: "FangSong", "Wawati SC", "YouYuan";
    color: $tf-color-brown8;
  }
  .input-items {
    width: 90%;
    margin-left: 10%;
    border: none;
    background-color: $tf-color-brown6;
    border-radius: 12px;
    margin: 8px 12px;
    padding: 8px 12px;
    font-size: 32px;
    color: $tf-color-brown7;
    font-family: "FangSong", "Wawati SC", "YouYuan";
  }
}

Input {
  border: none;
}
Button {
  margin: 5% 5% 5% 15%;
  background-color: $tf-color-brown6;
  border-radius: 96px;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  color: $tf-color-brown8;
}
TextArea {
  margin-top: 2%;
  background-color: $tf-color-brown6;
  border-radius: 48px;
  color: $tf-color-brown7;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  width: 95%;
  height: 400px;
  padding: 1%;
}
Picker {
  border: none;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  color: $tf-color-brown8;
}
.title {
  align-content: center;
  font-family: "FangSong", "Wawati SC", "YouYuan";
}
.area {
  margin-top: 10%;
  opacity: 80%;
  font-size: 32px;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  color: $tf-color-brown8;
}


