@import "src/assets/variables.scss";
.addcourse {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.add-form {
  margin: 5%;
  padding: 5%;
}

Input {
  border-bottom: solid 0.5px;
  border-bottom-color: $tf-color-brown8;
}

Button {
  margin: 5% 5% 5% 15%;
}

TextArea {
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.81);
  width:95%;
  height:400px;
  padding:1%
}


.area {
  margin-top: 5%;
  margin-bottom: 2%;
}

Picker {
  border-bottom: solid 0.5px;
  border-bottom-color: $tf-color-brown8;
}

.display-row {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10%;
}

.tips {
  width: 30%;
  font-family: 宋体;
}

.input-items {
  width: 70%;
}


