@import "src/assets/variables.scss";
.group {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $tf-color-brown3;
}

.group-list {
  .group-item {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: $tf-color-brown6;
    box-shadow: 2px 2px 3px $tf-color-grey3;
    margin: 8px 0;
    .group-mate {
      width: 15%;
      display: flex;
      flex-direction: column;
      padding: 8px 24px;
      align-items: center;
      .group-mate-img {
        width: 112px;
        height: 112px;
        border-radius: 64px;
        box-shadow: 2px 2px 3px $tf-color-brown8;
      }
      .group-mate-name {
        font-size: 24px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown8;
      }

    }

    .group-text {
      width: 75%;
      display: flex;
      flex-direction: column;
      .group-text-course {
        font-size: 36px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown8;
        margin: 5% 0 2% 0;
      }
      .group-text-progress {
        font-size: 24px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown7;
      }
      .group-text-tip {
        font-size: 28px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-pink3;
      }
    }

    .group-delete {
      width: 10%;
      .group-delete-img {
        height: 36px;
        width: 36px;
      }
    }
  }
}

.edit-button {
  float: right;
  background-color: rgba(165, 161, 154, 0.6);
  color: $tf-color-brown8;
  border-radius: 45px;
  font-size: 40px;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  margin: 4%;
}

.cancel-button {
  float: right;
  background-color: rgba(165, 8, 26, 0.6);
  color: $tf-color-brown8;
  border-radius: 45px;
  font-size: 40px;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  margin: 4%;
}
