@import "src/assets/variables.scss";
.group {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.group-list {
    .group-item {
        width: 100%;
        height: 28%;
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: $tf-color-brown6;
        box-shadow: 2px 2px 3px $tf-color-grey3;
        margin: 8px 0;
        .group-mate {
            width: 15%;
            display: flex;
            flex-direction: column;
            padding: 8px 24px;
            align-items: center;
            .group-mate-img {
                width: 112px;
                height: 112px;
                border-radius: 64px;
                box-shadow: 2px 2px 3px $tf-color-brown8;
            }
            .group-mate-name {
                font-size: 24px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown8; 
            }

        }

        .group-text {
            width: 85%;
            display: flex;
            flex-direction: column;
            .group-text-course {
                font-size: 36px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown8; 
            }
            .group-text-progress {
                font-size: 24px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown7; 
            }
            .group-text-tip {
                font-size: 28px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4; 
            }
        }
    }
}