@import "src/assets/variables.scss";
.group {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.group-list {
    .group-item {
        width: 100%;
        height: 28%;
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: $tf-color-brown6;
        box-shadow: 2px 2px 3px $tf-color-grey3;
        margin: 8px 0;
        .group-course-img {
            width: 20%;
            width: 114px;
            height: 152px;
            margin: 28px 20px;
            border-radius: 12px;
            box-shadow: 2px 2px 3px $tf-color-brown8;
        }
        .group-mate-img {
            width: 10%;
            width: 112px;
            height: 112px;
            margin: 38px 20px;
            border-radius: 64px;
            box-shadow: 2px 2px 3px $tf-color-brown8;
        }
        .group-text {
            width: 70%;
            display: flex;
            flex-direction: column;
            .group-mystatus-complete {
                height: 50%;
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: 4px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-pink1; 
            }
            .group-mystatus-tip {
                height: 50%;
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: 4px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-pink2; 
            }
            .group-opstatus-complete {
                height: 50%;
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: 164px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-pink1; 
            }
            .group-opstatus-tip {
                height: 50%;
                padding-top: 24px;
                padding-bottom: 24px;
                padding-left: 54px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-pink2; 
            }
        }
    }
}