@import "src/assets/variables.scss";
.resource {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
    background-size: contain;
    padding: 16px 0;
    .resource-card {
        width: 90%;
        height: 82%;
        margin: 32px 42px;
        border-radius: 16px;
        background-color: $tf-color-brown6;
        box-shadow: 16px 16px 24px $tf-color-grey3;

        .resource-top {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 8%;
            .resource-title {
                margin-top: 8px;
                margin-left: 48px;
                width: 70%;
                position: relative;
                font-size: 64px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown8; 
            }
        }

        .resource-mid {
            position: relative;
            margin-top: 12px;
            width: 100%;
            height: 16%;
            border-bottom: 8px solid $tf-color-brown8;
            .resource-author {
                height: 20%;
                margin-left: 32px;
                font-size: 29px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4; 
            }

            .resource-dct {
                height: 60%;
                margin-left: 32px;
                font-size: 29px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4; 
            }

            .resource-heat {
                height: 20%;
                margin-bottom: 2px;
                margin-right: 24px;
                display: flex;
                flex-direction: row-reverse;
                .resource-heat-img {
                    width: 32px;
                    height: 32px;
                    margin-right: 4px;
                }
                .resource-heat-num {
                    font-size: 24px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    color: $tf-color-brown5; 
                    margin-right: 8px;
                }
            }
        }

        .resource-bottom {
            position: relative;
            width: 100%;
            height: 76%;
            .resource-content {
                margin: 16px 32px;
                font-size: 36px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4; 
            }
        }
    }
}

.resource-star {
    position: fixed;
    width: 78px;
    height: 78px;
    right: 224px;
    bottom: 64px;
    .resource-star-img {
        width: 78px;
        height: 78px;
    }
}

.resource-praise {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 128px;
    bottom: 64px;
    .resource-praise-img {
        width: 72px;
        height: 72px;
    }
}

.resource-share {
    position: fixed;
    width: 78px;
    height: 78px;
    right: 32px;
    bottom: 64px;
    .resource-share-img {
        width: 96px;
        height: 96px;
    }
}