@import "src/assets/variables.scss";
.modifymineinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $tf-color-brown3;
}

.modify-form {
  margin: 10% 5% 0 5%;
  padding: 5%;
}
.modify-form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  .modify-form-tips {
    opacity: 80%;
    font-size: 42px;
    font-family: "FangSong", "Wawati SC", "YouYuan";
    color: $tf-color-brown8;
  }
  
  .modify-form-input-items {
    width: 90%;
    margin-left: 10%;
    border: none;
    background-color: $tf-color-brown6;
    border-radius: 12px;
    margin: 8px 12px;
    padding: 8px 12px;
    font-size: 32px;
    color: $tf-color-brown7;
    font-family: "FangSong", "Wawati SC", "YouYuan";
  }
}
Input {
  border: none;
}
Button {
  margin: 5% 5% 5% 15%;
  background-color: $tf-color-brown6;
  border-radius: 96px;
  font-family: "FangSong", "Wawati SC", "YouYuan";
  color: $tf-color-brown8;
}


