@import "src/assets/variables.scss";
.schedule {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: $tf-color-brown3;
}

.schedule-title {
  position: absolute;
  z-index: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  .schedule-title-mate {
    width: 15%;
    padding: 16px 12px;
    .schedule-title-mate-img {
      width: 96px;
      height: 96px;
      border-radius: 64px;
      box-shadow: 6px 6px 9px $tf-color-brown4;
    }
  }
  .schedule-title-text {
    width: 70%;
    padding-top: 24px;
    padding-left: 142px;
    font-size: 56px;
    font-family: "FangSong", "Wawati SC", "YouYuan";
    color: $tf-color-brown8;
    border-radius: 24px;
    background-color: $tf-color-pink1;
  }
  .schedule-title-mine {
    width: 15%;
    padding: 16px 12px;
    .schedule-title-mine-img {
      width: 96px;
      height: 96px;
      border-radius: 64px;
      box-shadow: 6px 6px 9px $tf-color-brown4;
    }
  }
}

.schedule-assign {
  position: absolute;
  z-index: 0;
  width: 100%;
  margin-top: 18%;
  background-color: $tf-color-brown3;
  display: flex;
  flex-direction: column;
  .schedule-assign-item {
    width: 100%;
    height: 10%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    .schedule-assign-item-mate {
      width: 10%;
      padding: 12px 16px;
      .schedule-assign-item-mate-img {
        width: 72px;
        height: 72px;
      }
    }
    .schedule-assign-item-text {
      width: 80%;
      padding-top: 8px;
      padding-left: 8px;
      border-bottom: 4px solid $tf-color-pink1;
      .schedule-assign-item-title {
        display: flex;
        flex-direction: row;
        .schedule-assign-item-time {
          width: 90%;
          font-size: 24px;
          font-family: "FangSong", "Wawati SC", "YouYuan";
          color: $tf-color-pink2;
        }
        .schedule-assign-item-delete {
          width: 10%;
          margin-top: 4px;
          height: 36px;
          width: 36px;
        }
      }
      .schedule-assign-item-content {
        font-size: 32px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown4;
      }
    }
    .schedule-assign-item-mine {
      width: 10%;
      padding: 12px 16px;
      .schedule-assign-item-mine-img {
        width: 72px;
        height: 72px;
      }
    }

  }

}

.schedule-add {
  position: fixed;
  z-index: 2;
  width: 78px;
  height: 78px;
  right: 32px;
  bottom: 32px;
  .schedule-add-img {
    width: 78px;
    height: 78px;
  }
}
.schedule-edit {
  position: fixed;
  z-index: 2;
  width: 78px;
  height: 78px;
  right: 136px;
  bottom: 32px;
  background-color: $tf-color-brown4;
  .schedule-edit-img {
    width: 72px;
    height: 72px;
  }
}
.schedule-hide {
  position: fixed;
  z-index: 2;
  width: 78px;
  height: 78px;
  right: 240px;
  bottom: 32px;
  background-color: $tf-color-brown4;
  .schedule-hide-img {
    width: 84px;
    height: 84px;
  }
}

.schedule-mask {
  position: fixed;
  z-index: 6;
  background-color: $tf-color-brown4;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}

.schedule-tip {
  position: fixed;
  z-index: 10;
  background-color: $tf-color-brown6;
  height: 25%;
  width: 55%;
  top: 35%;
  left: 23%;
  border-radius: 12px;
  .schedule-tip-text {
    padding: 64px 32px;
    font-size: 38px;
    font-family: "FangSong", "Wawati SC", "YouYuan";
    color: $tf-color-brown8;
    height: 30%;
  }

  .schedule-tip-button {
    display: flex;
    flex-direction: row;
    height: 10%;
    .schedule-tip-comfirm {
      width: 72px;
      height: 48px;
      margin-left: 64px;
      background-color: $tf-color-pink2;
      border-radius: 48px;
      color: $tf-color-brown4;
      font-size: 32px;
      font-family: "FangSong", "Wawati SC", "YouYuan";
    }

    .schedule-tip-cancel {
      width: 72px;
      height: 48px;
      margin-left: 148px;
      background-color: $tf-color-brown7;
      border-radius: 48px;
      font-size: 32px;
      color: $tf-color-brown4;
      font-family: "FangSong", "Wawati SC", "YouYuan";
    }
  }
}

.schedule-add-dialog {
  position: fixed;
  z-index: 10;
  background-color: $tf-color-brown6;
  height: 45%;
  width: 70%;
  top: 25%;
  left: 15%;
  border-radius: 12px;
  box-shadow: 4px 4px 6px $tf-color-brown8;
  display: flex;
  flex-direction: column;
  .schedule-add-dialog-text {
    padding: 8px 12px;
    font-size: 32px;
    font-family: "FangSong", "Wawati SC", "YouYuan";
    color: $tf-color-brown8;
    height: 10%;
  }
  .schedule-add-dialog-time {
    height: 5%;
    width: 91%;
    border: none;
    background-color: $tf-color-brown3;
    border-radius: 12px;
    margin: 8px 12px;
    padding: 8px 12px;
    font-size: 24px;
    color: $tf-color-brown7;
    font-family: "FangSong", "Wawati SC", "YouYuan";
  }

  .schedule-date-chooser {
    height: 10%;
    width: 91%;
    border: none;
    background-color: $tf-color-brown3;
    border-radius: 12px;
    margin: 8px 12px;
    padding: 8px 12px;
    font-size: 24px;
    color: $tf-color-brown7;
    font-family: "FangSong", "Wawati SC", "YouYuan";
  }

  .schedule-add-dialog-task {
    height: 70%;
    width: 91%;
    border: none;
    background-color: $tf-color-brown3;
    border-radius: 12px;
    margin: 8px 12px;
    padding: 8px 12px;
    font-size: 32px;
    color: $tf-color-brown7;
    font-family: "FangSong", "Wawati SC", "YouYuan";
  }

  .schedule-add-dialog-button {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    .schedule-add-dialog-comfirm {
      width: 84px;
      height: 54px;
      margin-top: 8px;
      margin-left: 84px;
      background-color: $tf-color-pink2;
      border-radius: 36px;
      color: $tf-color-brown4;
      font-size: 40px;
      font-family: "FangSong", "Wawati SC", "YouYuan";
    }
    .schedule-add-dialog-cancel {
      width: 84px;
      height: 54px;
      margin-top: 8px;
      margin-left: 216px;
      background-color: $tf-color-brown7;
      border-radius: 36px;
      font-size: 40px;
      color: $tf-color-brown4;
      font-family: "FangSong", "Wawati SC", "YouYuan";
    }
  }
}

