@import "src/assets/variables.scss";
.detail {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
    display: flex;
    flex-direction: column;
}

.detail-msg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    margin: 2px 16px;
    .detail-msg-img {
        width: 210px;
        height: 280px;
        border-radius: 12px;
        margin: 28px 12px;
        box-shadow: 2px 2px 3px $tf-color-brown7;
    }

    .detail-msg-text {
        width: 72%;
        height: 100%;
        display: flex;
        margin: 0 8px;
        flex-direction: column;
        .detail-msg-text-top {
            height: 15%;
            display: flex;
            flex-direction: row;
            .detail-msg-title {
                width: 75%;
                font-size: 45px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown8;
            }

            .detail-msg-button-join {
                width: 20%;
                margin-top: 8px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                background-color: $tf-color-brown5;
                border-radius: 96px;
            }
        }

        .detail-msg-dct {
            height: 85%;
            margin: 4px 0;
            font-size: 32px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
            color: $tf-color-brown4;
        }
    }
}

.detail-relevant {
    position: absolute;
    z-index: 0;
    margin-top: 48%;
    width: 100%;
    height: 66%;
    .detail-choice {
        width: 100%;
        height: 6%;
        display: flex;
        flex-direction: row;
        background-color: $tf-color-pink1;

        .detail-choice-resource {
            width: 15%;
            font-size: 36px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
            color: $tf-color-brown8;
            margin-left: 12px;
            padding-left: 36px;
            border-radius: 4px;
        }

        .detail-choice-car {
            width: 15%;
            font-size: 36px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
            color: $tf-color-brown8;
            padding-left: 36px;
            border-radius: 4px;
        }

        .detail-heat {
            margin-top: 8px;
            margin-left: 336px;
            display: flex;
            flex-direction: row-reverse;
            .detail-heat-img {
                width: 36px;
                height: 36px;
                margin: 0 8px;
            }
            .detail-heat-num {
                font-size: 24px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown8;
            }
        }
    }

    .detail-resource {
        width: 100%;
        height: 60%;
        background-color: $tf-color-brown3;
        .detail-resource-type {
            display: flex;
            flex-direction: row;
            .detail-resource-type-item {
                margin-top: 8px;
                margin-left: 24px;
                font-size: 24px;
                background-color: $tf-color-pink1;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4;
                border-color: $tf-color-pink3;
                border-radius: 18px;
            }
        }
        .detail-resource-end-line {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 24px;
          font-family: "FangSong", "Wawati SC", "YouYuan";
          margin-top: 24px;
          color: #8e7c62;
        }
        .detail-resource-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            .detail-resource-item {
                width: 90%;
                height: 35%;
                display: flex;
                flex-direction: column;
                border-radius: 12px;
                background-color: $tf-color-brown6;
                box-shadow: 16px 16px 24px $tf-color-grey3;
                margin: 16px 0;
                .detail-resource-item-title {
                    font-size: 36px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    margin-top: 24px;
                    margin-left: 16px;
                    color: $tf-color-brown8;
                }

                .detail-resource-item-dct {
                    height: 60%;
                    font-size: 28px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    margin: 0 16px;
                    color: $tf-color-brown4;
                    text-overflow: ellipsis;
                }

                .detail-resource-item-bottom {
                    margin-right: 12px;
                    margin-bottom: 6px;
                    display: flex;
                    flex-direction: row-reverse;
                    .detail-resource-item-heat-img {
                        width: 28px;
                        height: 28px;
                        margin: 0 6px;
                    }
                    .detail-resource-item-heat {
                        font-size: 18px;
                        font-family: "FangSong", "Wawati SC", "YouYuan";
                        color: $tf-color-brown8;
                        margin: 0 6px;
                    }
                }
            }
        }
        .detail-resource-add {
            position: fixed;
            width: 78px;
            height: 78px;
            right: 32px;
            bottom: 32px;
            .detail-resource-add-img {
                width: 78px;
                height: 78px;
            }
        }
    }

    .detail-car {
        width: 100%;
        height: 60%;
        background-color: $tf-color-brown3;
        .detail-car-opt {
            display: flex;
            flex-direction: row;
            .detail-car-opt-button {
                margin-top: 8px;
                margin-left: 24px;
                font-size: 24px;
                background-color: $tf-color-pink1;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                color: $tf-color-brown4;
                border-color: $tf-color-pink3;
                border-radius: 18px;
            }
        }
        .detail-car-end-line {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
            margin-top: 24px;
            color: #8e7c62;
          }
        .detail-car-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            .detail-car-item {
                width: 90%;
                height: 30%;
                display: flex;
                flex-direction: row;
                border-radius: 12px;
                background-color: $tf-color-brown6;
                box-shadow: 16px 16px 24px $tf-color-grey3;
                margin: 32px 0;
                .detail-car-img {
                    width: 20%;
                    width: 112px;
                    height: 112px;
                    margin: 28px 16px;
                    border-radius: 64px;
                    box-shadow: 6px 6px 9px $tf-color-brown8;
                }

                .detail-car-text {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    .detail-car-dct {
                        height: 85%;
                        margin: 8px 7px;
                        font-size: 32px;
                        font-family: "FangSong", "Wawati SC", "YouYuan";
                        color: $tf-color-brown8;
                    }
                    .detail-car-bottom {
                        height: 15%;
                        margin: 8px 0;
                        display: flex;
                        flex-direction: row;
                        font-size: 22px;
                        font-family: "FangSong", "Wawati SC", "YouYuan";
                        color: $tf-color-brown4;
                        .detail-car-inviter-label {
                            margin-left: 192px;
                            font-size: 20px;
                            font-family: "FangSong", "Wawati SC", "YouYuan";
                            color: $tf-color-brown4;
                        }
                        .detail-car-inviter {
                            margin-left: 12px;
                            font-size: 20px;
                            font-family: "FangSong", "Wawati SC", "YouYuan";
                            color: $tf-color-brown4;
                        }
                        .detail-car-time-label {
                            margin-left: 12px;
                            font-size: 20px;
                            font-family: "FangSong", "Wawati SC", "YouYuan";
                            color: $tf-color-brown4;
                        }
                        .detail-car-time {
                            margin-left: 12px;
                            font-size: 20px;
                            font-family: "FangSong", "Wawati SC", "YouYuan";
                            color: $tf-color-brown4;
                        }
                    }
                }
            }
        }
    }
}

.detail-mask {
    position: absolute;
    z-index: 6;
    background-color: $tf-color-brown4;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.detail-car-form {
    position: fixed;
    z-index: 10;
    background-color: $tf-color-brown6;
    height: 40%;
    width: 70%;
    top: 25%;
    left: 15%;
    border-radius: 12px;
    box-shadow: 4px 4px 6px $tf-color-brown8;
    display: flex;
    flex-direction: column;
    .detail-car-form-text {
        padding: 8px 12px;
        font-size: 42px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown8;
        height: 10%;
    }

    .detail-car-form-input {
        height: 70%;
        width: 91%;
        border: none;
        background-color: $tf-color-brown3;
        border-radius: 12px;
        margin: 8px 12px;
        padding: 8px 12px;
        font-size: 32px;
        color: $tf-color-brown7;
        font-family: "FangSong", "Wawati SC", "YouYuan";
    }

    .detail-car-form-button {
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 100%;
        .detail-car-form-comfirm {
            width: 84px;
            height: 54px;
            margin-top: 8px;
            margin-left: 84px;
            background-color: $tf-color-pink2;
            border-radius: 36px;
            color: $tf-color-brown4;
            font-size: 40px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }
        .detail-car-form-cancel {
            width: 84px;
            height: 54px;
            margin-top: 8px;
            margin-left: 216px;
            background-color: $tf-color-brown7;
            border-radius: 36px;
            font-size: 40px;
            color: $tf-color-brown4;
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }
    }
}

.detail-car-tip {
    position: fixed;
    z-index: 10;
    background-color: $tf-color-brown6;
    height: 25%;
    width: 55%;
    top: 35%;
    left: 23%;
    border-radius: 12px;
    .detail-car-tip-text {
        padding: 64px 32px;
        font-size: 38px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown8;
        height: 30%;
    }

    .detail-car-tip-button {
        display: flex;
        flex-direction: row;
        height: 10%;
        .detail-car-tip-comfirm {
            width: 72px;
            height: 48px;
            margin-left: 64px;
            background-color: $tf-color-pink2;
            border-radius: 48px;
            color: $tf-color-brown4;
            font-size: 32px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }

        .detail-car-tip-cancel {
            width: 72px;
            height: 48px;
            margin-left: 148px;
            background-color: $tf-color-brown7;
            border-radius: 48px;
            font-size: 32px;
            color: $tf-color-brown4;
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }
    }
}
