@import "src/assets/variables.scss";
.course {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.course-search {
    width: 100%;
    background-color: $tf-color-brown3;
}

.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .course-item {
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: $tf-color-brown6;
        box-shadow: 16px 16px 24px $tf-color-grey3;
        margin: 32px 0;
        .course-item-img {
            width: 180px;
            height: 240px;
            border-radius: 12px;
            margin: 28px 24px;
            box-shadow: 2px 2px 3px $tf-color-brown7;
        }

        .course-item-text {
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;
            .course-item-title {
                font-size: 40px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin-top: 24px;
                margin-left: 16px;
                color: $tf-color-brown8; 
            }
    
            .course-item-dct {
                height: 170px;
                font-size: 32px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin: 0 16px;
                color: $tf-color-brown4; 
            }

            .course-item-bottom-part {
                display: flex;
                flex-direction: row-reverse;
                .course-item-heat-img {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                }
                .course-item-heat {
                    font-size: 24px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    color: $tf-color-brown8; 
                }
            }
        }
    }
}