@import "src/assets/variables.scss";
.course {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
    padding: 0 0 800px;
}

.course-top {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    .course-search {
        width: 88%;
        background-color: $tf-color-brown3;
        border: none;
    }

    .course-action {
        width: 72px;
        height: 72px;
        padding: 12px;
    }
}

.course-list {
    position: absolute;
    width: 100%;
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .course-item {
        width: 90%;
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: $tf-color-brown6;
        box-shadow: 16px 16px 24px $tf-color-grey3;
        margin: 32px 0;
        .course-item-img {
            width: 165px;
            height: 220px;
            border-radius: 12px;
            margin: 24px 24px;
            box-shadow: 2px 2px 3px $tf-color-brown7;
        }

        .course-item-text {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .course-item-title {
                height: 20%;
                font-size: 36px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin-top: 18px;
                margin-left: 12px;
                color: $tf-color-brown8; 
            }
    
            .course-item-dct {
                height: 100%;
                font-size: 28px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin: 0 16px;
                color: $tf-color-brown4; 
            }

            .course-item-text-bottom {
                margin-top: 25%;
                height: 10%;
                display: flex;
                flex-direction: row-reverse;
                .course-item-heat-img {
                    width: 28px;
                    height: 28px;
                    margin-right: 4px;
                    margin-left: 8px;
                    margin-bottom: 8px;
                }
                .course-item-heat {
                    font-size: 20px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    color: $tf-color-brown8; 
                    margin-right: 24px;
                }
            }
        }
    }
}

.course-mask {
    position: absolute;
    z-index: 6;
    background-color: $tf-color-brown4;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.course-layout {
    position: absolute;
    z-index: 10;
    background-color: $tf-color-brown6;
    border-radius: 12px;
    box-shadow: 2px 2px 3px $tf-color-grey3;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .course-layout-accept {
        padding-left: 84px;
        width: 50%;
        color: $tf-color-brown8;
        font-size: 42px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
    }

    .course-layout-add {
        padding-left: 84px;
        width: 50%;
        color: $tf-color-brown8;
        font-size: 42px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
    }
}

.course-form {
    position: fixed;
    z-index: 10;
    background-color: $tf-color-brown6;
    height: 40%;
    width: 70%;
    top: 25%;
    left: 15%;
    border-radius: 12px;
    box-shadow: 4px 4px 6px $tf-color-brown8;
    display: flex;
    flex-direction: column;
    .course-form-text {
        padding: 8px 12px;
        font-size: 42px;
        font-family: "FangSong", "Wawati SC", "YouYuan";
        color: $tf-color-brown8; 
        height: 10%;
    }
    
    .course-form-input {
        height: 70%;
        width: 91%;
        border: none;
        background-color: $tf-color-brown3;
        border-radius: 12px;
        margin: 8px 12px;
        padding: 8px 12px;
        font-size: 32px;
        color: $tf-color-brown7; 
        font-family: "FangSong", "Wawati SC", "YouYuan";
    }
    
    .course-form-button {
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 100%;
        .course-form-comfirm {
            width: 84px;
            height: 54px;
            margin-top: 8px;
            margin-left: 84px;
            background-color: $tf-color-pink2;
            border-radius: 36px;
            color: $tf-color-brown4; 
            font-size: 42px;
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }
        .course-form-cancel {
            width: 84px;
            height: 54px;
            margin-top: 8px;
            margin-left: 216px;
            background-color: $tf-color-brown7;
            border-radius: 36px;
            font-size: 42px;
            color: $tf-color-brown4; 
            font-family: "FangSong", "Wawati SC", "YouYuan";
        }
    }
}