@import "src/assets/variables.scss";
.course {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $tf-color-brown3;
}

.course-top {
    display: flex;
    flex-direction: row;
    .course-search {
        width: 100%;
        background-color: $tf-color-brown3;
    }

    .course-add {
        width: 78px;
        height: 78px;
        padding: 16px;
    }
}

.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .course-item {
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: $tf-color-brown6;
        box-shadow: 16px 16px 24px $tf-color-grey3;
        margin: 32px 0;
        .course-item-img {
            width: 30%;
            height: 80%;
            border-radius: 12px;
            margin-top: 24px;
            margin-left: 24px;
            box-shadow: 2px 2px 3px $tf-color-brown7;
        }

        .course-item-text {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .course-item-title {
                font-size: 36px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin-top: 18px;
                margin-left: 12px;
                color: $tf-color-brown8; 
            }
    
            .course-item-dct {
                height: 60%;
                font-size: 28px;
                font-family: "FangSong", "Wawati SC", "YouYuan";
                margin: 0 16px;
                color: $tf-color-brown4; 
            }

            .course-item-text-bottom {
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 2px;
                .course-item-heat-img {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                }
                .course-item-heat {
                    font-size: 24px;
                    font-family: "FangSong", "Wawati SC", "YouYuan";
                    color: $tf-color-brown8; 
                }
            }
        }
    }
}