$tf-color-blue1: #f0ffff;
$tf-color-grey1: #f5f5f5;
$tf-color-grey2: #f8f8f8;
$tf-color-grey3: #cccccc;
$tf-color-grey4: #e5e5e5;
$tf-color-white: #ffffff;
$tf-color-primary: #6190e8;
$tf-color-warning: #e93b3d;
$tf-color-info: #ffd600;
$tf-color-dark1: #333333;
$tf-color-dark2: #666666;
$tf-color-dark3: #999999;
$tf-color-dark4: #222121;
$tf-color-green1: #BEEDC7;
$tf-color-green2: #BEE7E9;
$tf-color-green3: #A0EEE1;
$tf-color-green4: #8CC7B5;
$tf-color-green5: #7d8382;
$tf-color-brown3: #f6eee1;
$tf-color-brown4:#8e7c62;
$tf-color-brown5: #a58050;
$tf-color-brown6: #f8f4ed;
$tf-color-brown7: #a5a19a;
$tf-color-brown8: #584a31;
$tf-color-brown1: #D6D5B7;
$tf-color-brown2: #D1BA74;
$tf-color-pink1: #E6CEAC;
$tf-color-pink2: #ECAD9E;
$tf-color-pink3: rgba(61, 150, 255, 0.8);
